<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="EntityContext" connectionString="server=localhost;database=JobER;uid=root;pwd=emekijee;charset=utf8;" providerName="MySql.Data.MySqlClient" />
  <add name="MongoContext" connectionString="mongodb://localhost/jober"/>
</connectionStrings>